@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.cont {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0%;

}

.music {
    background-color: rgb(142, 16, 16);
    height: 30rem;
    width: 25%;
    border: 5px solid black;
    border-radius: 20px;


}

.songlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 20px;
}

.music {
    margin: 20px 0 20px 0;
}

#img {
    margin: 30px 0 30px 0;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 20px;
    gap: 30p;
}

.btn {
    font-size: 30px;
    margin: 10px;
    padding: 30px 20px ;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    }

button {
    padding: 0;
    border: none;
    background-color: transparent;
    gap: 30px;
}